<div class='card'>
  <div class="card-header pb-0">
    <h5>Nova Ficha de Procedimento</h5>
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-12'>
        <div class='datetime-picker'>
          <%= render 'form', procedure_sheet: @procedure_sheet %>
        </div>
      </div>
    </div>
  </div>
</div>
