<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<ul>
  <li><%= link_to 'Cadastro Individual', individual_registrations_path %> </li>
  <li><%= link_to 'Atendimento Individual', individual_calls_path %> </li>
  <li><%= link_to 'Ficha de Procedimento', procedure_sheets_path %> </li>
  <li><%= link_to 'Ficha de Atividade Coletiva', collective_activity_sheets_path %> </li>
</ul>
