<h1>Editing Household Registration</h1>

<%= render 'form', household_registration: @household_registration %>

<%= link_to 'Show', @household_registration %> |
<%= link_to 'Back', household_registrations_path %>
