<h1>Editing Collective Activity Sheet</h1>

<%= render 'form', collective_activity_sheet: @collective_activity_sheet %>

<%= link_to 'Show', @collective_activity_sheet %> |
<%= link_to 'Back', collective_activity_sheets_path %>
