<h1>Editing Problem Condition Evaluated</h1>

<%= render 'form', problem_condition_evaluated: @problem_condition_evaluated %>

<%= link_to 'Show', @problem_condition_evaluated %> |
<%= link_to 'Back', problem_condition_evaluateds_path %>
