<div class='card'>
  <div class="card-header pb-0">
    <h5>Nova Ficha de Atendimento Individual</h5>
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-12'>
        <div class='datetime-picker'>
          <%= render 'form', individual_call_master: @individual_call_master %>
        </div>
      </div>
    </div>
  </div>
</div>

